# gradle

.gradle/
build/
out/

# idea

.idea/
*.iml
*.ipr
*.iws

# fabric

run/
!run/screenshots/*

/minecraft/

.vanila/

# Sounds
/src/main/resources/assets/witness/sounds/pixelated/
/src/main/resources/assets/witness/sounds/raw/

# macos

.DS_Store
